webservices-soap-jaxws/EstoqueWsService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.1-SNAPSHOT svn-revision#6a0b290fe358f9de4deeec2d1ec3f6e76afa8005. -->
<definitions targetNamespace="http://estoquews.estoque.caelum.com.br/" name="EstoqueWsService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://estoquews.estoque.caelum.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://estoquews.estoque.caelum.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="autrizacaoFault" nillable="true" type="tns:infoFault"/>

      <xs:element name="cadastrarItem" type="tns:cadastrarItem"/>

      <xs:element name="cadastrarItemResponse" type="tns:cadastrarItemResponse"/>

      <xs:element name="filtros" type="tns:filtros"/>

      <xs:element name="item" type="tns:item"/>

      <xs:element name="itens" type="tns:itens"/>

      <xs:element name="listaItens" type="tns:listaItens"/>

      <xs:element name="tokenUsuario" nillable="true" type="tns:tokenUsuario"/>

      <xs:complexType name="listaItens">
        <xs:sequence>
          <xs:element name="filtros" type="tns:filtros" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filtros">
        <xs:sequence>
          <xs:element name="filtro" type="tns:filtro" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="filtro">
        <xs:sequence>
          <xs:element name="nome" type="xs:string" minOccurs="0"/>
          <xs:element name="tipo" type="tns:tipoItem" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="itens">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="item">
        <xs:sequence>
          <xs:element name="codigo" type="xs:string"/>
          <xs:element name="nome" type="xs:string"/>
          <xs:element name="tipo" type="xs:string"/>
          <xs:element name="quantidade" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="cadastrarItem">
        <xs:sequence>
          <xs:element name="item" type="tns:item" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="tokenUsuario">
        <xs:sequence>
          <xs:element name="token" type="xs:string"/>
          <xs:element name="dataValidade" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="cadastrarItemResponse">
        <xs:sequence>
          <xs:element name="cadastroItem" type="tns:item" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="infoFault">
        <xs:sequence>
          <xs:element name="msg" type="xs:string" minOccurs="0"/>
          <xs:element name="dateError" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="tipoItem">
        <xs:restriction base="xs:string">
          <xs:enumeration value="Livro"/>
          <xs:enumeration value="Celular"/>
          <xs:enumeration value="Tablet"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="pegarTodosOsItens">
    <part name="parameters" element="tns:listaItens"/>
  </message>
  <message name="pegarTodosOsItensResponse">
    <part name="parameters" element="tns:itens"/>
  </message>
  <message name="cadastrarItem">
    <part name="parameters" element="tns:cadastrarItem"/>
    <part name="tokenUsuario" element="tns:tokenUsuario"/>
  </message>
  <message name="cadastrarItemResponse">
    <part name="result" element="tns:cadastrarItemResponse"/>
  </message>
  <message name="autrizacaoFault">
    <part name="fault" element="tns:autrizacaoFault"/>
  </message>
  <portType name="EstoqueWs">
    <operation name="pegarTodosOsItens">
      <input wsam:Action="http://estoquews.estoque.caelum.com.br/EstoqueWs/pegarTodosOsItensRequest" message="tns:pegarTodosOsItens"/>
      <output wsam:Action="http://estoquews.estoque.caelum.com.br/EstoqueWs/pegarTodosOsItensResponse" message="tns:pegarTodosOsItensResponse"/>
    </operation>
    <operation name="cadastrarItem" parameterOrder="parameters tokenUsuario">
      <input wsam:Action="http://estoquews.estoque.caelum.com.br/EstoqueWs/cadastrarItemRequest" message="tns:cadastrarItem"/>
      <output wsam:Action="http://estoquews.estoque.caelum.com.br/EstoqueWs/cadastrarItemResponse" message="tns:cadastrarItemResponse"/>
      <fault message="tns:autrizacaoFault" name="autrizacaoFault" wsam:Action="http://estoquews.estoque.caelum.com.br/EstoqueWs/cadastrarItem/Fault/AutenticacaoException"/>
    </operation>
  </portType>
  <binding name="EstoqueWsPortBinding" type="tns:EstoqueWs">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="pegarTodosOsItens">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cadastrarItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:cadastrarItem" part="tokenUsuario" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="autrizacaoFault">
        <soap:fault name="autrizacaoFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="EstoqueWsService">
    <port name="EstoqueWsPort" binding="tns:EstoqueWsPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

